<h1><{$smarty.const._MD_PROFILE_MESSAGE_CONFIRM_DELETE}></h1>

<form action="./index.php?action=DataDelete" method="POST">
  <{xoops_token form=$actionForm}>
  <{xoops_input type=hidden name=uid value=$actionForm->get('uid')}>
  <table class="table">
    <tr>
      <th colspan="2"><{$smarty.const._MD_PROFILE_LANG_DATA_DELETE}></th>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_PROFILE_LANG_UID}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('uid')}></td>
    </tr>
    <tr>
      <td class="foot" colspan="2">
        <button class="btn btn-warning" type="submit" class="formButton" value="<{$smarty.const._DELETE}>"><{$smarty.const._DELETE}></button>
        <button class="btn" type="submit" class="formButton" value="<{$smarty.const._MD_PROFILE_LANG_CANCEL}>" name="_form_control_cancel"><{$smarty.const._MD_PROFILE_LANG_CANCEL}></button>
      </td>
    </tr>
  </table>
</form>
