<{if $actionForm->hasError()}>
<div class="alert alert-error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

  <h1><{$self_delete_message|nl2br}></h1>
  <form method="post" action="#">
    <fieldset>
    <{xoops_token form=$actionForm}>
    <button class="btn btn-warning" type="submit" value="<{$smarty.const._DELETE}>"><{$smarty.const._DELETE}></button>
    <button class="btn" type="button" name="confirm_back" value="<{$smarty.const._CANCEL}>"  onclick="javascript:history.go(-1);"><{$smarty.const._CANCEL}></button>
    </fieldset>
  </form>
