<ul class="inline pull-right">
<{if $user_ownpage == true}>
	<li><a href="<{$xoops_url}>/notifications.php"><{$smarty.const._MD_USER_LANG_NOTIFY}></a></li>
<{/if}>

<{if $user_ownpage == true && $enableSelfDelete == true && $xoops_isadmin == false}>
    <li>| <a href="<{$xoops_url}>/user.php?op=delete"><{$smarty.const._MD_USER_LANG_DELACCOUNT}></a></li>
<{elseif $xoops_isadmin == true}>
    <li>| <a href="<{$xoops_url}>/edituser.php?uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_EDITPROFILE}></a> - </li>
    <li>| <a href="<{$xoops_url}>/edituser.php?op=avatarform&amp;uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_AVATAR_EDIT}></a> - </li>
    <li>| <a href="<{$xoops_url}>/modules/user/admin/index.php?action=UserDelete&amp;uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_DELACCOUNT}></a></li>
<{/if}>
</ul>

<h1><{$smarty.const._MD_USER_LANG_ALLABOUT|replace:"%s":$thisUser->getShow('uname')}><{if $user_ownpage == true}> <a class="btn btn-small" href="<{$xoops_url}>/edituser.php?uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_EDITPROFILE}></a><{/if}></h1>

<div>
  <h2><{$smarty.const._MD_USER_LANG_AVATAR}></h2>
  <{if $thisUser->get('user_avatar') != "blank.gif" }>
  <img src="<{$smarty.const.XOOPS_UPLOAD_URL}>/<{$thisUser->getShow('user_avatar')}>" alt="Avatar" title="Avatar" />
  <{else}>
  <img src="<{$smarty.const.XOOPS_URL}>/modules/user/images/no_avatar.gif" alt="No Avatar" title="No Avatar" />
  <{/if}>
  <{if $user_ownpage == true}>
  <a class="btn" href="<{$xoops_url}>/edituser.php?op=avatarform&amp;uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_AVATAR_EDIT}></a>
  <{/if}>
</div>

<table class="table">
  <tr>
    <th><{$smarty.const._MD_USER_LANG_NAME}></th>
    <td><{$thisUser->getShow('name')}></td>
  </tr>
  <tr>
    <th><{$smarty.const._MD_USER_LANG_WEBSITE}></th>
    <td><a href="<{$thisUser->getShow('url')}>" rel="external"><{$thisUser->getShow('url')}></a></td>
  </tr>
  <{if $thisUser->get('user_viewemail') == 1 || $user_ownpage == true || $xoops_isadmin == true }>
    <tr>
      <th><{$smarty.const._MD_USER_LANG_EMAIL}></th>
      <td>
        <{mailto address=$thisUser->get('email') encode="javascript"}>
      </td>
    </tr>
  <{/if}>
  <{if $xoops_isuser == true && $pmliteUrl != ''}>
    <tr>
      <th><{$smarty.const._MD_USER_LANG_PM}></th>
      <td>
        <a href="<{$pmliteUrl|xoops_escape:link}>">
        <img src="<{$smarty.const.XOOPS_URL}>/images/icons/pm.gif" alt="<{$smarty.const._SENDPMTO|replace:"%s":$thisUser->getShow('uname')}>" title="<{$smarty.const._SENDPMTO|replace:"%s":$thisUser->getShow('uname')}>" /></a>
      </td>
    </tr>
  <{/if}>
  <{legacy_profile uid=$thisUser->getShow('uid')}>
  <{if $bio != null}>
  <tr>
    <th><{$smarty.const._MD_USER_LANG_BIO}></th>
    <td><{$thisUser->getShow('bio')}></td>
  </tr>
 <{/if}>
  <tr>
    <th colspan="2" style="text-align:center;"><{$smarty.const._MD_USER_LANG_STATISTICS}></th>
  </tr>
  <tr>
    <th><{$smarty.const._MD_USER_LANG_USER_REGDATE}></th>
    <td><{$thisUser->get('user_regdate')|xoops_formattimestamp:l}></td>
  </tr>
  <{if $rank != null}>
    <tr>
      <th><{$smarty.const._MD_USER_LANG_RANK}></th>
      <td>
        <img src="<{$smarty.const.XOOPS_UPLOAD_URL}>/<{$rank->getShow('rank_image')}>" alt="<{$rank->getShow('rank_title')}>" title="<{$rank->getShow('rank_title')}>" /><br />
        <{$rank->getShow('rank_title')}>
      </td>
    </tr>
  <{/if}>
  <tr>
    <th><{$smarty.const._MD_USER_LANG_POSTS}></th>
    <td><{$thisUser->getShow('posts')}></td>
  </tr>
  <tr>
    <th><{$smarty.const._MD_USER_LANG_LAST_LOGIN}></th>
    <td><{$thisUser->get('last_login')|xoops_formattimestamp:l}></td>
  </tr>
  <tr>
    <th colspan="2" style="text-align:center;"><{$smarty.const._MD_USER_LANG_USER_SIG}></th>
  </tr>
  <tr>
    <td><{$thisUser->getShow('user_sig')}></td>
  </tr>
</table>

<!-- start module search results loop -->
<{foreach item=module from=$searchResults}>
  <div>
  <h3><{$module.name}></h3>

  <!-- start results item loop -->
  <{foreach item=result from=$module.results}>
    <img src="<{$result.image}>" alt="<{$module.name}>" title="<{$module.name}>" /><b><a href="<{$result.link}>"><{$result.title}></a></b><br /><small>(<{$result.time|xoops_formattimestampGMT:l}>)</small><br />
  <{/foreach}>
  <!-- end results item loop -->

  <{if $module.has_more}>
    <a class="pull-right" href="<{$smarty.const.XOOPS_URL}>/search.php?action=showallbyuser&amp;mid=<{$module.mid|xoops_escape}>&amp;uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_SHOWALL}></a>
  <{/if}>
  </div>
<{/foreach}>
<!-- end module search results loop -->
