<form action="#" method="post">
<fieldset>
  <div class="control-group">
    <label for="" class="control-label"><{$smarty.const._MD_USER_LANG_NICKNAME}></label>
    <div class="controls">
      <{$registForm->get('uname')|xoops_escape}>
    </div>
  </div>
  <div class="control-group">
    <td class="head"><{$smarty.const._MD_USER_LANG_EMAIL}></label>
    <td class="<{cycle values="odd,even"}>">
      <{$registForm->get('email')|xoops_escape}>
    </div>
  </div>
  <div class="form-actions">
    <button class="btn btn-primary" type="submit" value="<{$smarty.const._MD_USER_LANG_FINISH}>"><{$smarty.const._MD_USER_LANG_FINISH}></button>
    <button class="btn" type="submit" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"><{$smarty.const._CANCEL}></button>
  </div>
</fieldset>
</form>
