<div>
<a href="<{$xoops_url}>/userinfo.php?uid=<{$actionForm->get('uid')|xoops_escape}>"><{$smarty.const._MD_USER_LANG_PROFILE}></a>
&nbsp;<span style="font-weight:bold;">&raquo;&raquo;</span>&nbsp;<{$smarty.const._MD_USER_LANG_EDITPROFILE}>
</div>

<{if $actionForm->hasError()}>
<div class="alert alert-error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form action="#" method="post">
<fieldset>
  <{xoops_token form=$actionForm}>
  <{xoops_input name=uid type=hidden value=$actionForm->get('uid')}>
  <div class="control-group">
    <th colspan="2"><{$smarty.const._MD_USER_LANG_EDITPROFILE}></th>
  </div>
  <div class="control-group">
    <label for="uname" class="control-label"><{$smarty.const._MD_USER_LANG_NICKNAME}></label>
    <div class="controls"><{$thisUser->getShow('uname')}></div>
  </div>
  <div class="control-group">
    <label for="name" class="control-label"><{$smarty.const._MD_USER_LANG_NAME}></label>
    <div class="controls">
      <{xoops_input name=name size=30 maxlength=60 value=$actionForm->get('name')}>
    </div>
  </div>
  <div class="control-group">
    <label for="email" class="control-label"><{$smarty.const._MD_USER_LANG_EMAIL}></label>
    <div class="controls">
      <{if $allow_chgmail}>
        <{xoops_input name=email size=30 maxlength=60 value=$actionForm->get('email')}><br />
      <{else}>
        <{$thisUser->getShow('email')}><br />
      <{/if}>
      <label><{xoops_input type=checkbox name=user_viewemail value=1 default=$actionForm->get('user_viewemail')}><{$smarty.const._MD_USER_LANG_USER_VIEWEMAIL}></label>
    </div>
  </div>
  <div class="control-group">
    <label for="url" class="control-label"><{$smarty.const._MD_USER_LANG_WEBSITE}></label>
    <div class="controls">
      <{xoops_input name=url size=30 maxlength=100 value=$actionForm->get('url')}>
    </div>
  </div>
  <div class="control-group">
    <label for="timezone_offset" class="control-label"><{$smarty.const._MD_USER_LANG_TIMEZONE_OFFSET}></label>
    <div class="controls">
      <select name="timezone_offset">
        <{xoops_optionsArray id=timezone_offset label=zone_name value=offset from=$timezones default=$actionForm->get('timezone_offset')}>
      </select>
    </div>
  </div>

  <!-- XCL2.2 TEST-->
  <{legacy_profile template=profile_inc_data_edit.html action=edit actionForm=$actionForm}>
  <!-- XCL2.2 TEST END-->
  <div class="control-group">
    <label for="user_sig" class="control-label"><{$smarty.const._MD_USER_LANG_USER_SIG}></label>
    <div class="controls">
      <{xoops_dhtmltarea name=user_sig value=$actionForm->get('user_sig')}><br />
      <label><{xoops_input type=checkbox name=attachsig value=1 default=$actionForm->get('attachsig')}><{$smarty.const._MD_USER_LANG_ATTACHSIG}></label>
    </div>
  </div>
  <div class="control-group">
    <label for="umode" class="control-label"><{$smarty.const._MD_USER_LANG_UMODE}></label>
    <div class="controls">
      <{html_options name=umode options=$umodeOptions selected=$actionForm->get('umode')}>
    </div>
  </div>
  <div class="control-group">
    <label for="uorder" class="control-label"><{$smarty.const._MD_USER_LANG_UORDER}></label>
    <div class="controls">
      <{html_options name=uorder options=$uorderOptions selected=$actionForm->get('uorder')}>
    </div>
  </div>
  <div class="control-group">
    <label for="notify_method" class="control-label"><{$smarty.const._MD_USER_LANG_NOTIFY_METHOD}></label>
    <div class="controls">
      <{html_options name=notify_method options=$notify_methodOptions selected=$actionForm->get('notify_method')}>
    </div>
  </div>
  <div class="control-group">
    <label for="notify_mode" class="control-label"><{$smarty.const._MD_USER_LANG_NOTIFY_MODE}></label>
    <div class="controls">
      <{html_options name=notify_mode options=$notify_modeOptions selected=$actionForm->get('notify_mode')}>
    </div>
  </div>
  <div class="control-group">
    <label for="bio" class="control-label"><{$smarty.const._MD_USER_LANG_BIO}></label>
    <div class="controls">
      <{xoops_textarea name=bio value=$actionForm->get('bio') rows=5 cols=50}>
    </div>
  </div>
  <div class="control-group">
    <label for="pass" class="control-label"><{$smarty.const._MD_USER_LANG_PASSWORD}><br />
    <{$smarty.const._MD_USER_LANG_TYPEPASSTWICE}></label>
    <div class="controls">
      <{xoops_input type=password name=pass size=10 maxlength=32 value=$actionForm->get('pass')}>
      <{xoops_input type=password name=vpass size=10 maxlength=32 value=$actionForm->get('vpass')}>
    </div>
  </div>
  <div class="control-group">
    <label for="usercookie" class="control-label"><{$smarty.const._MD_USER_LANG_USERCOOKIE}></label>
    <div class="controls">
      <label><{xoops_input type=radio name=usercookie value=1 default=$actionForm->get('usercookie')}><{$smarty.const._YES}></label>
      <label><{xoops_input type=radio name=usercookie value=0 default=$actionForm->get('usercookie')}><{$smarty.const._NO}></label>
    </div>
  </div>
  <div class="control-group">
    <label for="user_mailok" class="control-label"><{$smarty.const._MD_USER_LANG_USER_MAILOK}></label>
    <div class="controls">
      <label><{xoops_input type=radio name=user_mailok value=1 default=$actionForm->get('user_mailok')}><{$smarty.const._YES}></label>
      <label><{xoops_input type=radio name=user_mailok value=0 default=$actionForm->get('user_mailok')}><{$smarty.const._NO}></label>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary" type="submit" value="<{$smarty.const._MD_USER_LANG_SAVECHANGES}>"><{$smarty.const._MD_USER_LANG_SAVECHANGES}></button>
    </div>
  </div>
</fieldset>
</form>
