<{if $actionForm->hasError()}>
<div class="alert alert-error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form action="<{$xoops_url}>/imagemanager.php?op=upload" method="post" enctype="multipart/form-data">
  <fieldset>
    <{xoops_token form=$actionForm}>
    <{xoops_input type=hidden name=imgcat_id value=$actionForm->get('imgcat_id')}>
    <{xoops_input type=hidden name=target value=$target}>
    <div class="control-group">
      <label for="" class="control-label"><{$smarty.const._MD_LEGACY_LANG_IMAGE_FILE}></label>
      <div class="controls">
        <{xoops_input type=file name=image_name}>
      </div>
    </div>
    <div class="control-group">
      <label for="" class="control-label"><{$smarty.const._MD_LEGACY_LANG_IMAGE_NICENAME}></label>
      <div class="controls">
        <{xoops_input type=text name=image_nicename value=$actionForm->get('image_nicename') size=30 maxlength=255}>
      </div>
    </div>
    <div class="control-actions">
        <button class="btn btn-primary" value="<{$smarty.const._SUBMIT}>"><{$smarty.const._SUBMIT}></button>
        <button class="btn" type="button" value="<{$smarty.const._BACK}>" onclick="javascript:history.back()" class="formButton"><{$smarty.const._BACK}></button>
    </div>
  </fieldset>
</form>