<{if $actionForm->hasError()}>
<div class="alert alert-error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>
<form action="./misc.php?type=friend" method="post">
  <{xoops_token form=$actionForm}>
  <fieldset>
    <legend><{$smarty.const._MB_LEGACY_LANG_RECOMMENDSITE}></legend>
    <div class="control-group">
      <label for="yname" class="control-label">
        <input type='hidden' name='type' value='friend' />
        <{$smarty.const._MD_LEGACY_LANG_YNAME}>
      </label>
      <div class="controls">
        <{xoops_input type=text name=yname value=$actionForm->get('yname')}>
      </div>
    </div>
    <div class="control-group">
      <label for="ymail" class="control-label"><{$smarty.const._MD_LEGACY_LANG_YMAIL}></label>
      <div class="controls">
        <{xoops_input type=text name=ymail value=$actionForm->get('ymail')}>
      </div>
    </div>
    <div class="control-group">
      <label for="fname" class="control-label"><{$smarty.const._MD_LEGACY_LANG_FNAME}></label>
      <div class="controls">
        <{xoops_input type=text name=fname value=$actionForm->get('fname')}>
      </div>
    </div>
    <div class="control-group">
      <label for="fmail" class="control-label"><{$smarty.const._MD_LEGACY_LANG_FMAIL}></label>
      <div class="controls">
        <{xoops_input type=text name=fmail value=$actionForm->get('fmail')}>
      </div>
    </div>
    <div class="control-actions">
      <button class="btn btn-primary" type="submit" value="<{$smarty.const._SUBMIT}>"><{$smarty.const._SUBMIT}></button>
      <button class="btn" value="<{$smarty.const._CLOSE}>" type="button" onclick="javascript:window.close();"><{$smarty.const._CLOSE}></button>
    </div>
  </fieldset>
</form>