<{if $actionForm->hasError()}>
<div class="alert alert-error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form action="<{$smarty.const.XOOPS_URL}>/search.php" method="get">
  <fieldset>
  <{xoops_input type=hidden name=action value=results}>
    <div class="control-group">
      <label for="query" class="form-label"><{$smarty.const._SR_KEYWORDS}></label>
      <div class="controls">
        <{xoops_input type=text name=query size=30 maxlength=255 value=$actionForm->get('query')}>
      </div>
    </div>
    <div class="control-group">
      <label for="andor" class="form-label"><{$smarty.const._SR_TYPE}></label>
      <div class="controls">
        <select name="andor">
          <option id="andor_AND" value="AND" <{if $actionForm->get('andor') == 'AND'}>selected="selected"<{/if}>><{$smarty.const._SR_ALL}></option>
          <option id="andor_OR" value="OR" <{if $actionForm->get('andor') == 'OR'}>selected="selected"<{/if}>><{$smarty.const._SR_ANY}></option>
          <option id="andor_exact" value="exact" <{if $actionForm->get('andor') == 'exact'}>selected="selected"<{/if}>><{$smarty.const._SR_EXACT}></option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="mids" class="form-label"><{$smarty.const._SR_SEARCHIN}></label>
      <div class="controls">
        <{foreach item=module from=$moduleArr}>
          <label><input type="checkbox" name="mids[]" value="<{$module.mid|xoops_escape:plain}>" <{if in_array($module.mid, $selectedMidArr)}>checked="checked"<{/if}>><{$module.name|xoops_escape}></label>
        <{/foreach}>
      </div>
    </div>
    <div class="control-group">
      <label for="" class="form-label"><{$smarty.const._SR_SEARCHRULE}></label>
      <div class="controls"><{$searchRuleMessage}></div>
    </div>
    <div class="control-actions">
      <div class="controls">
        <button class="btn btn-primary" type="submit" value="<{$smarty.const._SR_SEARCH}>"><{$smarty.const._SR_SEARCH}></button>
      </div>
    </div>
  </fieldset>
</form>