<form method="get" action="<{$pageName}>">
  <fieldset>
    <{html_options name=com_mode options=$modeOptions selected=$com_mode}>
    <{html_options name=com_order options=$orderOptions selected=$com_order}>
    <input type="hidden" name="<{$itemName}>" value="<{$com_itemid}>" />
    <button class="btn btn-primary" type="submit" value="<{$smarty.const._CM_REFRESH}>"><{$smarty.const._CM_REFRESH}></button>
    <{foreach key=key item=value from=$extraParams}>
      <{xoops_input type=hidden name=$key value=$value}>
    <{/foreach}>
<{if $postcomment_link}>
      <button class="btn" type="button" onclick="self.location.href='<{$postcomment_link|xoops_escape:link}><{$link_extra|xoops_escape:link}>'" value="<{$smarty.const._CM_POSTCOMMENT}>"><{$smarty.const._CM_POSTCOMMENT}></button>
    <{/if}>
  </fieldset>
</form>
